* {
  font-family: fantasy, serif;
}

.buttons button {
  width: 60px;
  height: 50px;
  border-radius: 10px;
  border: none;
  border-bottom: 4px solid rgba(0, 0, 0, 0.274);
  margin: 4px;
  font-size: 1em;
  outline: none;
  color: white;
}

.buttons {
  width: 300px;
  margin: auto;
}

button:active {
  /* transform: translateX(100px); */
  background: goldenrod;
}

.calculator {
  width: 400px;
  height: 480px;
  box-sizing: border-box;
  margin: auto;
  margin-top: 10vh;
  border: 2px solid black;
  padding: 20px;
  border-radius: 20px;
  /* background: #1abc9c; */
}

.ac, .c {
  background: #b71540;
}

.math {
  background: #7f8c8d;
}

.enter {
  background: #3498db;
}